[submodule "HIOF-Programmering-2-Oblig-1"]
	path = HIOF-Programmering-2-Oblig-1
	url = https://github.com/mathiasmellemstuen/HIOF-Programmering-2-Oblig-1
[submodule "HIOF-Programmering-2-Oblig-2"]
	path = HIOF-Programmering-2-Oblig-2
	url = https://github.com/mathiasmellemstuen/HIOF-Programmering-2-Oblig-2
[submodule "HIOF-Programmering-2-Oblig-3"]
	path = HIOF-Programmering-2-Oblig-3
	url = https://github.com/mathiasmellemstuen/HIOF-Programmering-2-Oblig-3
[submodule "HIOF-Programmering-2-Oblig-4"]
	path = HIOF-Programmering-2-Oblig-4
	url = https://github.com/mathiasmellemstuen/HIOF-Programmering-2-Oblig-4.git
[submodule "HIOF-Programmering-2-Oblig-5"]
	path = HIOF-Programmering-2-Oblig-5
	url = https://github.com/mathiasmellemstuen/HIOF-Programmering-2-Oblig-5.git
[submodule "HIOF-Programmering-2-Oblig-6"]
	path = HIOF-Programmering-2-Oblig-6
	url = https://github.com/mathiasmellemstuen/HIOF-Programmering-2-Oblig-6.git
